tmp/*
cmake-build-debug/*
test-stdthreadostream
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
picobench
test-stdthreadostream
test-stdostream
test-sizes
test-sizes.s
test-sizes.asm
test-sizes.map
refactor.ods
